/****************************************************** CSS RESET ******************************************************/
*{
    box-sizing: border-box; /* So HTML will BEHAVE*/

    margin: 0;
    padding: 0;
}

/****************************************************** GENERIC ELEMENT ******************************************************/
body{
    background-color:#fafafa;
    font-family: 'Playwrite DE Grund', Arial, sans-serif;
    line-height: 1.6;
    min-height: 200vh;
}

hr{
    border: none;
    /*vaues of border size/colour*/
    border-top: 1px solid #878787;

    /*!important makes it different to change specific css commands later*/
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    
}



/****************************************************** INTRO SCREEN ******************************************************/
.intro{
    background-image: url(images/leaves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh; /*vh = viewport height*/
    width: 100vw; /*vw = viewport width*/

    display: flex;

    position: relative;
    z-index: 1010;
}

.intro-narrow{
    height: 75vh;
    z-index: 900;
}

.intro-container{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    width: 25%;

    align-self: center;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.intro h1{
    font-weight: normal;
    text-transform: uppercase;

    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.intro p{
    line-height: 1;
}

/****************************************************** CARDS ******************************************************/
.card{
    display: block; /* turns into a box*/

    color: #000;
    text-decoration: none;
}

.card-image{
    height: 500px;
    overflow: hidden; /*hides the excess content*/
}

.card img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition-property: transform;
    /* only transform will animate*/
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.card h2{
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 1.2em;
}

.card:hover img{
    transform: scale(1.2);

    transition-duration: 2.5s;
    transition-timing-function: linear;
}

/****************************************************** CONTAINER ******************************************************/
.container{
    max-width: 1280px;

    margin: auto;
}

/****************************************************** GRID LAYOUT ******************************************************/
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

.one-column .card{
    width: 100%;
}

.two-columns .card{
    width: calc((100% - 50px) /2);
}

.three-columns .card{
    width: calc((100% - 100px) /3);
}

/****************************************************** MAIN CONTENT ******************************************************/
.main-content{
    margin-top: 100px;
}

.content-narrow{
    width: 50%;
    min-width: 640px;
    margin: auto;
}

.vertical-title{
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;

    transform-origin: 0 0; /*rotate from top left*/
    transform: rotate(90deg) translateY(5px);

    position: absolute;
}

/****************************************************** FOOTER ******************************************************/
.website-footer{
    background-color: #bebebe;
    padding: 50px;
}
.website-footer .container{
    display: flex;
    flex-wrap: wrap;
}

.website-footer .summary{
    width: 33%;
}

.footer-links{
    list-style: none;

    margin-left: auto;

    columns: 2;
    gap: 50px;
}

.footer-item{
    margin-bottom: 10px;
}

.footer-link {
    color: #000;
    text-decoration: none;
}

.website-footer .copyright{
    width: 100%;

    margin-top: 50px;

    text-align: right;
}

/****************************************************** NAVIGATION BAR ******************************************************/
.navbar{
    background-color: #ffffff;

    border-color: #ffffff;
    border-style: solid;
    /* cancels out all borders*/
    border-width: 0;
    border-bottom-width: 1px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #000;
    text-decoration: none;
    display: block;
}

.navbar-brand{
    font-family: Pacifico, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    /*Scales the font by 150% of the original size*/
    font-size: 1.5em;

    align-content: center;
}

.navbar-nav{
    list-style: none;
    display: flex;
}

.navbar-nav .nav-item{
    margin-left: 10px;
}

.navbar-nav .nav-link{
    padding: 30px 20px; /*Top and bottom - left and right*/
}

/****************************************************** STORY ******************************************************/
.story-header h1{
    font-size: 2em;
    margin-bottom: 25px;
    font-weight: bolder;
}

.story-header p{
    font-size: 1.5em;
    font-family: 'Playwrite DE Grund', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    line-height: 1.2;
}

.story-header .byline{
    margin-top: 10px;
}

.story-header .byline * {
    display: inline;
    font-style: normal;
}